<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test site</title>
    <link href="~/skeleton.css" rel="stylesheet" />
    <link href="~/main.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
